<div class="section">
	<h2>Group Members</h2>
	<% @group.members.each do |member| %>
		<div class="subsection edit_group_member">
			<div class="subsection_buttons delete_button button">
				<%= link_to "Remove #{member.name.titleize}", member_path(member), :method => :delete, :confirm => "Are you sure you want to delete #{member.name.titleize} from this group?" %>
			</div>
			<div>
			<%= member.name.titleize %>
			</div>
		</div>
	<% end %>
</div>

<div class="section">
	<h2>Add new member</h2>
	<div class="subsection">
		<%= form_tag members_path(@group) do %>
			<%= hidden_field_tag 'member[group_id]', @group.id %>
			<div class="field">
				<div>
				<%= label_tag :name %>
				</div>
				<div>
				<%= text_field_tag 'member[name]' %>
				</div>
			</div>
			<div class="field">
				<div>
				<%= label_tag :email %>
				</div>
				<div>
				<%= text_field_tag 'email' %>
				</div>
			</div>
			<%= submit_tag 'Add to Group' %>
		<% end %>
	</div>
</div>