<h1>Password reset</h1>
<div>
	<%= form_for(:user, :url => handle_password_reset_users_path) do |f| %> 
		<%= f.hidden_field :user_token, :value => params[:user_token] %>
		<div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %>
		</div>
		<div class="update_button">
			<%= f.submit "Send password reset" %> 
		</div>
		<% end %> 
</div>