<div class="section">
	<% user_groups(@user) do %>
		<% @user.groups.each do |group| %>
			<div class="group">
				<h2><%= group.name %></h2>
				<div class="subsection users_subsection">
					<div class="subsection_buttons">
						<div class="button edit_button">
						<%= link_to 'Edit this group', edit_group_path(group) %>
						</div>
						<div class="button confirm_button">
						<%= link_to 'New payment', new_member_payment_path(group.get_member(@user), :group_id => group.id), :rel => 'facebox' %>
						</div>
					</div>
					<% user_group_summary(group) do %>
						<% member = group.get_member(@user) %>
						<% member.other_members.each do |other_member| %>
							<div class="member_summary">
								<%= summary_for_current_user(member, other_member) %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<div class="section">
	<h2>Join new group</h2>
	<div class="subsection">
		<%= form_tag join_new_group_groups_path do %>	
			<div class="field">
				<div>
				<%= label_tag 'Group Token' %>	
				</div>
				<div>
					<%= text_field_tag :group_token, nil, :placeholder => "Enter your group token here" %>
				</div>
			</div>
			<div class="field">
				<div>
				<%= label_tag 'Your name in this group' %>	
				</div>
				<div>
				<%= text_field_tag :member_name, @user.name %>
				</div>
			</div>
			<div class="confirm_button" id="join_new_group_button">
			<%= submit_tag 'Join group' %>
			</div>
		<% end %>
	</div>
</div>

<div class="section">
	<h2>Create new group</h2>
	<div class="subsection">
		<%= form_tag add_new_group_groups_path do %>	
			<%= hidden_field_tag 'group[current_user_id]', current_user.id %>
			<div class="field">
				<div>
				<%= label_tag 'Group Name' %>	
				</div>
				<div>
				<%= text_field_tag 'group[name]', nil, :placeholder => 'Choose a name for this group' %>
				</div>		
			</div>
			<div class="field">
				<div>
				<%= label_tag 'Your name in this group' %>	
				</div>
				<div>
				<%= text_field_tag 'group[member_name]', @user.name %>
				</div>
			</div>
			<div class="confirm_button" id="create_new_group_button">
			<%= submit_tag 'Create group' %>
			</div>
		<% end %>
	</div>
</div>


