<div class="section">
	<% user_groups(@user) do %>
		<% @user.groups.each do |group| %>
			<div class="group">
				<h2><%= group.name %></h2>
				<div class="subsection users_subsection">
					<div class="subsection_buttons">
						<div class="button edit_button">
						<%= link_to 'Edit this group', edit_group_path(group) %>
						</div>
						<div class="button confirm_button">
						<%= link_to 'New payment', new_member_payment_path(group.get_member(@user), :group_id => group.id) %>
						</div>
					</div>
					<% user_group_summary(group) do %>
						<% member = group.get_member(@user) %>
						<% member.other_members.each do |other_member| %>
							<div class="member_summary">
								<%= summary_for_current_user(member, other_member) %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<div id="add_group_buttons">
	<div class="edit_button button" id="join_group_button">
		<%= link_to 'Join group', join_groups_path(:user_id => @user.id) %>
	</div>
	<div class="confirm_button button">
	<%= link_to 'Create new group', add_groups_path(:user_id => @user.id) %>
	</div>
</div>
