<!DOCTYPE html>
<html>
<head>
  <title>Houseaccounts</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'facebox', 'application' %>
	<!--<link href='http://fonts.googleapis.com/css?family=Delius' rel='stylesheet' type='text/css'>-->
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="background">
		<div id="background_header">
		</div>
		<div id="background_content">
		</div>
	</div>
	<div id="wrapper">
		<div id="header">
			<div id="logo">
				House Accounts
			</div>
		</div>
		<div id="content_wrapper">
			<div id="content">
				<% if !flash.blank? %>
					<div id="flash">
						<ul>
						<% flash.each do |key, value| %> 
							<li class="flash_item <%= key %>"><%= value %></li>
						<% end %>
						</ul>
					</div>
				<% end %>
			<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>